{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block register %}
    <div class="auth_form col-md-12">
        <form class="form form-horizontal" method="post" role="form">
            {{ form.hidden_tag() }}
            
            {{ wtf.form_field(form.firstname) }}
            {{ wtf.form_field(form.secondname) }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.email) }}
            {{ wtf.form_field(form.password) }}
            {{ wtf.form_field(form.repeat_password) }}
            {{ wtf.form_field(form.submit, class="auth_button btn btn-primary") }}
                </form>
            </div>
            </div>
{% endblock %}